* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* TYPOGRAPHY */
a {
  text-decoration: none;
  color: #a0a6ae;
}

a:hover,
a:focus {
  color: #000;
}

/* UTILITIES */
ul {
  list-style: none;
  font-size: 14px;
  font-weight: 600;
}

nav > ul {
  display: flex;
  align-items: center;
}

/* HEADER */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  height: 100px;
}

img {
  max-height: 30px;
  vertical-align: middle;
}

/* NAV LEFT */
.left ul li {
  margin-right: 20px;
  text-transform: uppercase;
}

/* NAV RIGHT */
.right ul li {
  margin-left: 20px;
}

.btn {
  padding: 15px 20px;
  color: #fff;
  background-color: #eb008e;
  border-radius: 30px;
}

/* Dropdown Menu */
.with-dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -60px;
  margin-top: 10px;
  padding: 10px 30px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
}

.prodotti {
  width: 350px;
}

.beta {
  position: relative;
}

.beta::after {
  content: 'beta';
  position: absolute;
  color: #eb008e;
  font-size: 10px;
  top: -6px;
}

.nuovo {
  position: relative;
}

.nuovo::after {
  content: 'nuovo';
  position: absolute;
  color: #eb008e;
  font-size: 10px;
  top: -6px;
}

.azienda {
  width: 180px;
}

.dropdown-menu ul li {
  margin: 0 0 15px;
}